@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Righteous&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

:root{
    --paragraph-color: #C1A7E8
}

.container{
    overflow: hidden;
}

nav{
    background-color: #7133CC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
    /* width: 100%; */
    padding-left: 5em;
    padding-right: 5em;
    font-family: 'Poppins',sans-serif;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

nav>img{
    width: 15%;
    max-width: 150px;
}

nav>img:hover{
    filter: invert();
}

.list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.list-items{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d8dadd;
    white-space: nowrap;
    font-size: 1.1em;
}

.list-items:hover{
    color: #15D9FD;
    cursor: pointer;
}
.list-items:first-child{
    border-bottom: 2px solid;
    border-color: #CE6BDE;
    color: #15D9FD;
}

.btn1{
    border: 0.5px solid #948d8d;
    color: #ffffff;
    border: none;
    width: 10%;
    height: 2.5em;
    font-size: 1rem;
    text-transform: uppercase;
    background: #2BA2E8;

}

.btn1:hover{
   cursor: pointer;
    background-color: #CE6BDE;
}

.fa-share {
    color: black;
    font-size: 50px;
}

@media (max-width:1000px) {
    
    .list-items{
        display: none;
    }
    nav{
        justify-content: space-between;
        margin: 0 3%;
    }
    nav>img{
        width: 35%;
        max-width: 150px;
    }
    .btn1{
        width: 35%;
        font-size: .9rem;
    }

}

/* ------------------------------ Hero Section -------------------------------------------*/

.main-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    /* margin: 2em;
    padding: 2em; */
    background-color: #7133CC;
}

.main-content{
    display: flex;
    flex-direction: column;
    text-align: left;
   max-width: 600px;
   gap: 1em;
}

.main-heading{
    font-size: 3.2rem;
    line-height: 1.2;
    padding: 0em 1em;
    color: #ffffff;
}

.main-paragraph{
    font-size: 1.2rem;
    /* padding: 1em 2em; */
    margin-left: 3em;
    line-height: 1.6;
    color: var(--paragraph-color);
}

.main-section>img{
    width: 70%;
    padding-right: 1em;
    padding-bottom: 2em;
}

@media (max-width:1000px){

    .main-content{
      max-width: 400px;
    }
    
    .main-heading{
        margin-top: 2em;
        font-size: 1.6rem;
        margin-left: 1.5em;
    }
    .main-paragraph{
        font-size: 1.2rem;
    }
    .main-section>img{
        width: 100%;
    }
}

@media (max-width:900px){
    .main-content{
        max-width: 600px;
      }
      
      .main-heading{
          font-size: 2rem;
          margin-left: 1.5em;
      }
      .main-paragraph{
          font-size: 1.5rem;
          padding-bottom: 3em;
      }
      .main-section>img{
          width: 90%;
          padding-bottom: 3em;
      }
}


@media (max-width:700px){

    .main-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
    }
    .main-content{
        width: 100%;
        order: 2;
    }

    .main-section>img{
        width: 80%;
    }
    
    .main-heading{
        text-align: left;
        margin-left: 1em;
        font-size: 1.5rem;
    }
    .main-paragraph{
        text-align: left;
        font-size: 1rem;
        padding-right: 2em;
        padding-bottom: 1em;
        
    }
}

@media (max-width:550px){
    .main-contents{
        margin: 0 1em;
    }
    .main-content{
        width: 100%;
        text-align: center;
    }
    .main-heading{
        margin-top: 0em;
        gap: 0em;
    }
}

/*-------------------------------------- Service Section ----------------------------------------*/

.service-section{
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.service-section img{
    width: 40%;
}

.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.service-container h1{
    margin-top: 2em;
    font-size: 2.3em;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2em;
}

.sub-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    align-self: center;
    padding: 2em 0;
}
.sub-content>svg{
    width: 30px;
}

.service-contents{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
}
.service-content{
    display: flex;
    flex-direction: column;
}

.service-content svg{
    width: 20px;
    height: 20px;
}

.bg1{
    padding-top: 2em;
    fill: #F28A3F;
    padding-bottom: 5em;
}

.bg2{
    fill: #7ACA3A;
    padding-bottom: 6em;
}
.bg3{
    fill: #3F9CF2;
    padding-bottom: 5em;
}

.service-content h2 {
    font-size: 1.7rem;
    font-weight: bolder;
}

.service-content p {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width:1000px) {
    .service-section{
        flex-direction: column;
        
    }
    .service-section img{
        width: 100%;
        height: 400px;
        margin-bottom: 1em;
    }
}
@media (max-width:700px) {

  .services-container h1{
    text-align: center;
    font-size: 2rem;
  }
  .services{
    justify-content: center;
  }
  .sub-content{
    display: none;
  }
  .service-content{
    text-align: center;
    width: 100%;
  }
  .service-contents{
    width: 100%;
  }

  
}

@media (max-width:550px) {
    .service-section{
        margin: 0;
    }
    h1{
        font-size: 1.5rem !important;
    }
    h2{
        font-size: 1rem !important;
    }
}


/* ---------------------------------------Feature SEction ---------------------------------------- */

.features-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color:white;
    padding-bottom: 2em;
}
.features{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    border: none;
    transition: transform 0.5s ease;
    gap: 1em;
    padding-top: 1em;
    margin: 0 1em;
}
.features-section h1 {
    font-size: 2.5em;
    text-align: center;
    max-width: 500px;
}

.feature p {
    color: rgb(68 64 64);
    font-weight: bold;
    max-width: 250px;
    margin-bottom: 10%;
}

.feature:hover{
    transform: scale(1.02);
}

.feature img{
    width: 50px;
    height: 50px;
    margin-top: 20%;
}

.image-box {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.box1 {
    background-color: rgb(255, 217, 217);
     
}


.box2 {
    background-color: rgb(241, 242, 181);
}

.box3 {
    background-color: rgb(198, 254, 244);
}

.box4 {
    background-color: rgb(190, 248, 173);
}
